<%- include('./layout/header') %>



<% if (data.length > 0) { %>

   <h2>Products in Card</h2>
   <section class="productsSection">

 <% data.forEach(data=>{ %>

    <div class="myCardsDiv">
      <img src="<%=data.img%>" alt="">

        <h2><%=data.productname%></h2>
        <h3 class="myCardPrice">Price: <%=data.price%></h3>

        <a class="detailsAncor" href="/productdetails/<%= data.id%>">VIEW DETAILS</a>


    </div>

    <% })
 } %>

 <% if (data.length === 0) { %>
 
    <h1 class="noProducts"> No Products in Your Card ㄟ( ▔, ▔ )ㄏ </h1>

 <% } %>

</section>


<%- include('./layout/footer') %>