<%- include('./layout/header') %>




<% if (data.length>0){ %>
    <h2>Maybelline Products range prices</h2>
<section class="productsSection">
<% data.forEach(data=>{ %>

    <div>
        <img src="<%=data.img%>" alt="">
        <h2><%=data.productname%></h2>
        <h3>Price: <%=data.price%></h3>
        <p><%=data.descrip%></p>
    </div>

    <% }) %>


</section>

<% } %>

<% if (data.length===0){ %>
<section class="productsSection">
    <h1 class="noProducts"> No Products between These Ranges  ㄟ( ▔, ▔ )ㄏ </h1>


<% } %>





<%- include('./layout/footer') %>