<%- include('./layout/header') %>


<% data.forEach(data=>{ %>

    <div>
        <h2><%=data.productname%></h2>
        <h3><%=data.price%></h3>
        <img src="<%=data.img%>" alt="">
        <p><%=data.descrip%></p>


        <button class="ubdatebtn">Update</button>
        <form class="formubpadebtn"  action="/update/<%= data.id%>?_method=put" method="POST" >
            <input type="text" name="productname" value="<%=data.productname%>">
            <input type="text" name="price" value="<%=data.price%>">
            <input type="text" name="img" value="<%=data.img%>">
            <input type="text" name="descrip" value="<%=data.descrip%>">
            <button type="submit" >Update</button>
        
        </form>
        <form action="/delete/<%= data.id%>?_method=delete" method="POST" >
            <button type="submit" >delete</button>
        
        </form>
    </div>

    <% }) %>

<%- include('./layout/footer') %>